/*******************************/
/********* General CSS *********/
/*******************************/
body {
  color: #797979;
  background: #ffffff;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #343148;
}

a {
  color: #454545;
  transition: 0.3s;
}

a:hover,
a:active,
a:focus {
  color: #f7cac9;
  outline: none;
  text-decoration: none;
}

.btn:focus,
.form-control:focus {
  box-shadow: none;
}

.container-fluid {
  max-width: 1366px;
}

/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.navbar {
  position: relative;
  transition: 0.5s;
  z-index: 999;
}
.navbar.nav-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar .navbar-brand {
  margin: 0;
  color: #ffffff;
  font-size: 45px;
  line-height: 0px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
}

.navbar .navbar-brand span {
  color: #ffffff;
  text-transform: lowercase;
  transition: 0.5s;
}

.navbar.nav-sticky .navbar-brand span {
  color: #ffffff;
}

.navbar .navbar-brand img {
  max-width: 100%;
  max-height: 40px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  padding: 10px 10px 8px 10px;
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  background: rgba(256, 256, 256, 0.1);
  transition: none;
}

/*    메뉴바 드롭다운   */
.navbar .dropdown-menu:hover,
.navbar .dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;

  background: #343148 !important;
  text-align: center;
}
/*    메뉴바 드롭다운   */
.dropdown-item:hover {
  background: lightcoral;
  color: #f7cac9;
}
.dropdown-item {
  color: white;
}
@media (min-width: 992px) {
  .navbar {
    position: absolute;
    width: 100%;
    padding: 20px 60px;
    background: #343148 !important;
    z-index: 9;
  }

  .navbar.nav-sticky {
    padding: 10px 60px;
    background: #343148 !important;
  }

  .navbar a.nav-link {
    padding: 8px 15px;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

@media (max-width: 991.98px) {
  .navbar {
    padding: 15px;
    background: #343148 !important;
    text-align: center;
  }

  .navbar .navbar-brand span {
    color: #ffffff;
  }

  .navbar a.nav-link {
    padding: 5px;
  }
}

/*******************************/
/********** Hero CSS ***********/
/*******************************/
.hero {
  position: relative;
  width: 100%;
  margin-bottom: 45px;
  padding: 90px 0;
  background: #f7cac9; /*  색상 */
  overflow: hidden;
}

.hero .container-fluid {
  padding: 0;
}

.hero .hero-image {
  position: relative;
  text-align: right;
}

.hero .hero-image img {
  max-width: 80%;
  max-height: 80%;
}

.hero .hero-text {
  position: relative;
  padding-left: 75px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.hero .hero-text h1 {
  color: #343148;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero .hero-text p {
  color: #343148;
  font-size: 18px;
  margin-bottom: 25px;
}

.hero .hero-btn .btn {
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #f7cac9;
  background: #343148;
  border-radius: 0;
  transition: 0.3s;
}

.hero .hero-btn .btn:hover {
  color: #343148;
  background: #ffffff;
}

.hero .hero-btn .btn:first-child {
  margin-right: 10px;
}

@media (max-width: 991.98px) {
  .hero .hero-text {
    padding: 0 15px;
  }

  .hero .hero-text h1 {
    font-size: 35px;
  }

  .hero .hero-text p {
    font-size: 16px;
  }

  .hero .hero-text .btn {
    padding: 12px 30px;
    letter-spacing: 1px;
  }
}

@media (max-width: 767.98px) {
  .hero .hero-text h1 {
    font-size: 30px;
    font-weight: 600;
  }

  .hero .hero-text p {
    font-size: 14px;
  }

  .hero .hero-text .btn {
    padding: 10px 15px;
    font-weight: 400;
    letter-spacing: 1px;
  }
}

@media (max-width: 575.98px) {
  .hero .hero-text h1 {
    font-size: 25px;
    font-weight: 600;
  }

  .hero .hero-text p {
    font-size: 14px;
  }

  .hero .hero-text .btn {
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
  }
}

/*******************************/
/******* Page Header CSS *******/
/*******************************/
.page-header {
  position: relative;
  margin-bottom: 45px;
  padding: 150px 0 90px 0;
  text-align: center;
  background: #f7cac9;
}

.page-header h2 {
  position: relative;
  color: #343148;
  font-size: 60px;
  font-weight: 700;
}

.page-header a {
  position: relative;
  padding: 0 12px;
  font-size: 22px;
  color: #343148;
}

.page-header a:hover {
  color: #ffffff;
}

.page-header a::after {
  position: absolute;
  content: "/";
  width: 8px;
  height: 8px;
  top: -2px;
  right: -7px;
  text-align: center;
  color: #343148;
}

.page-header a:last-child::after {
  display: none;
}

@media (max-width: 767.98px) {
  .page-header h2 {
    font-size: 35px;
  }

  .page-header a {
    font-size: 18px;
  }
}

/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 45px;
}
.section-header h2 {
  margin: 0;
  position: relative;
  font-size: 40px;
  font-weight: 700;
}

@media (max-width: 767.98px) {
  .section-header h2 {
    font-size: 30px;
  }
}

/*******************************/
/********* Service CSS *********/
/*******************************/
.service {
  position: relative;
  width: 100%;
  padding: 45px 0 15px 0;
}

.service .service-item {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  transition: 0.3s;
}

.service .service-item:hover,
.service .service-item.active {
  background: #343148;
  color: #ffffff;
}

.service .service-item h3 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s;
}

.service .service-item:hover h3,
.service .service-item.active h3 {
  color: #f7cac9;
}

.service .service-item p {
  margin: 0;
  font-size: 16px;
}

/*******************************/
/********** Class CSS **********/
/*******************************/
.class {
  position: relative;
  padding: 45px 0 15px 0;
}

.class #class-filter {
  padding: 0;
  margin: -15px 0 25px 0;
  list-style: none;
  font-size: 0;
  text-align: center;
}

.class #class-filter li {
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  padding: 6px 12px;
  color: #343148;
  font-size: 14px;
  font-weight: 400;
  border-radius: 0;
  background: none;
  border: 1px solid #343148;
  transition: 0.3s;
}

.class #class-filter li:hover,
.class #class-filter li.filter-active {
  background: #343148;
  color: #f7cac9;
}

.class .class-item {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  transition: 0.3s;
}

.class .class-wrap {
  position: relative;
  width: 100%;
}

.class .class-img {
  position: relative;
}

.class .class-img img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.class .class-text {
  position: relative;
  padding: 30px 30px 25px 30px;
  border-right: 1px solid rgba(0, 0, 0, 0.07);
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  border-left: 1px solid rgba(0, 0, 0, 0.07);
}

.class .class-text h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.class .class-teacher {
  position: relative;
  height: 40px;
  margin-top: -50px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
}

.class .class-teacher img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #f7cac9;
}

.class .class-teacher h3 {
  width: calc(100% - 95px);
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 0 15px;
  white-space: nowrap;
  overflow: hidden;
}

.class .class-teacher a {
  width: 40px;
  height: 40px;
  padding: 0 0 3px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 100;
  color: #343148;
  background: #f7cac9;
  border-radius: 40px;
  transition: 0.3s;
}

.class .class-wrap:hover .class-teacher a {
  color: #f7cac9;
  background: #343148;
}

.class .class-meta {
  position: relative;
  display: flex;
  align-items: center;
}

.class .class-meta p {
  margin: 0;
  font-size: 14px;
}

.class .class-meta p i {
  margin-right: 5px;
  color: #343148;
}

.class .class-meta p:first-child {
  margin-right: 10px;
}
/*******************************/
/********* Contact CSS *********/
/*******************************/
.contact {
  position: relative;
  width: 100%;
  padding: 45px 0;
}

.contact .container {
  max-width: 900px;
}

.contact .contact-item {
  text-align: center;
  margin-bottom: 30px;
}

.contact .contact-item i {
  width: 50px;
  height: 50px;
  padding: 12px 0;
  font-size: 25px;
  color: #343148;
  margin-bottom: 15px;
  border: 1px solid #f7cac9;
  border-radius: 50px;
}

.contact .contact-item h2 {
  font-size: 25px;
  font-weight: 700;
}

.contact .contact-form {
  position: relative;
}

.contact .contact-form input {
  height: 45px;
  padding: 15px;
  background: none;
  border-radius: 0;
}

.contact .contact-form textarea {
  height: 150px;
  padding: 15px;
  background: none;
  border-radius: 0;
}

.contact .contact-form .btn {
  padding: 12px 25px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #f7cac9;
  background: #343148;
  border-radius: 0;
  transition: 0.3s;
}

.contact .contact-form .btn:hover {
  color: #343148;
  background: #f7cac9;
}

.contact .help-block ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*******************************/
/******* Single Post CSS *******/
/*******************************/

.single {
  position: relative;
  padding: 45px 0;
}

.single .single-content {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.single .single-content img {
  margin-bottom: 20px;
  width: 100%;
}

.single .single-tags {
  margin: -5px -5px 41px -5px;
  font-size: 0;
  text-align: center;
}

.single .single-tags a {
  margin: 5px;
  display: inline-block;

  padding: 7px 15px;
  font-size: 40px;
  font-weight: 400;
  color: #666666;
  border: 1px solid #dddddd;
}

.single .single-tags a:hover {
  color: #f7cac9;
  background: #343148;
}

.single .single-bio {
  margin-bottom: 45px;
  padding: 30px;
  background: #f3f6ff;
  display: flex;
}

.single .single-bio-text {
  padding-left: 30px;
}

.single .single-bio-text h3 {
  font-size: 20px;
  font-weight: 700;
}

.single .single-bio-text p {
  margin: 0;
}

.single .single-related {
  margin-bottom: 45px;
}

.single .single-related h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}

.single .related-slider {
  position: relative;
  margin: 0 -15px;
  width: calc(100% + 30px);
}

.single .related-slider .post-item {
  margin: 0 15px;
}

.single .post-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.single .post-item .post-img {
  width: 100%;
  max-width: 80px;
}

.single .post-item .post-img img {
  width: 100%;
}

.single .post-item .post-text {
  padding-left: 15px;
}

.single .post-item .post-text a {
  font-size: 16px;
  font-weight: 400;
}

.single .post-item .post-meta {
  display: flex;
  margin-top: 8px;
}

.single .post-item .post-meta p {
  display: inline-block;
  margin: 0;
  padding: 0 3px;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}

.single .post-item .post-meta p a {
  margin-left: 5px;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
}

.single .related-slider .owl-nav {
  position: absolute;
  /* width: 90px;*/
  top: -55px;
  right: 15px;
  display: flex;
}

.single .related-slider .owl-nav .owl-prev,
.single .related-slider .owl-nav .owl-next {
  margin-left: 15px;
  /*width: 30px;*/
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #343148;
  background: #f7cac9;
  font-size: 16px;
  transition: 0.3s;
}

.single .related-slider .owl-nav .owl-prev:hover,
.single .related-slider .owl-nav .owl-next:hover {
  color: #f7cac9;
  background: #343148;
}

.single .single-comment {
  position: relative;
  margin-bottom: 45px;
}

.single .single-comment h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}

.single .comment-list {
  list-style: none;
  padding: 0;
}

.single .comment-child {
  list-style: none;
}

.single .comment-body {
  display: flex;
  margin-bottom: 30px;
}

.single .comment-img {
  width: 60px;
}

.single .comment-img img {
  width: 100%;
}

.single .comment-text {
  padding-left: 15px;
  width: calc(100% - 60px);
}

.single .comment-text h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 3px;
}

.single .comment-text span {
  display: block;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 5px;
}

.single .comment-text .btn {
  padding: 3px 10px;
  font-size: 14px;
  color: #343148;
  background: #dddddd;
  border-radius: 0;
}

.single .comment-text .btn:hover {
  background: #f7cac9;
}

.single .comment-form {
  position: relative;
}

.single .comment-form h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}

.single .comment-form form {
  padding: 30px;
  background: #f3f6ff;
}

.single .comment-form form .form-group:last-child {
  margin: 0;
}

.single .comment-form input,
.single .comment-form textarea {
  border-radius: 0;
}

.single .comment-form .btn {
  padding: 15px 30px;
  color: #f7cac9;
  background: #343148;
}

.single .comment-form .btn:hover {
  color: #343148;
  background: #f7cac9;
}

/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
  position: relative;
  margin-top: 45px;
  background: #343148;
}

.footer .footer-info {
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 30px;
}

.footer .footer-info .footer-logo {
  display: inline-block;
  color: #f7cac9;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 45px;
}

.footer .footer-info .footer-logo span {
  color: #ffffff;
  text-transform: lowercase;
}

.footer .footer-info h3 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}

.footer .footer-menu {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer .footer-menu p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  padding: 0 10px;
  border-right: 1px solid #ffffff;
}

.footer .footer-menu p:last-child {
  border: none;
}

@media (max-width: 767.98px) {
  .footer .copyright p,
  .footer .copyright .col-md-6:last-child p {
    margin: 5px 0;
    text-align: center;
  }
}
